<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="classes" name="Suite">
	<listeners>
		<listener class-name="com.dff.listeners.AnnotationTransformer" />
	</listeners>
	<test thread-count="3" parallel="classes" name="Test">
		<classes>
			<class name="com.ddf.testrunner.TestExecutor" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
